.env
node_modules/
node_modules/
*.log
*.tmp
*.sj
.DS_Store
.env
force-redeploy.txt
# Ignore all secret keys
firebase-*.json
.env.local
*.txt
test.json
firebase-key.json
*.bak
opens.txt
closes.txt

# local backups
public/*.bak*
public/*.STABLE_*
